nav{
    background-color:rgba(3, 65, 119, 0.557);
    margin:0px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px
}
.logo{
    color:#fff
}
nav ul a{
    text-decoration: none;
}
nav ul li{
    display:inline;
    margin-right:5px;
    color:#fff;
}

.cart-icon{
    font-size:2rem;
    border-radius:50%;
    color:#fff;
    background-color: rgba(0, 7, 13, 0.557);
    padding:10px;
    position: fixed;
    z-index:1;
    right:10px;
    top:3px;
    cursor:pointer;
}